.bg{
  height: 68vh;
  margin: 16px 0;
  background-image: url(https://images.pexels.com/photos/4686576/pexels-photo-4686576.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100% 180%;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 0 57px;
  filter: grayscale(100%);
}

.pt{
  padding-top: 2vh;
}
